node_modules
dist/lib
.vs
*.pdb
*.ipdb
*.iobj
*.exe
*.log
*.lib
*.dll
*.d
*.tlog
.xmake
demo/app/assets/stylesheets
demo/app/assets/fonts
demo/app/assets/views
demo/build
vendor
build
lcpkg
demo/app/demo
