@font-face {
  font-family: Noto Sans CJK;
  src: url("/usr/share/fonts/opentype/noto/NotoSansCJK.ttc");
}
@font-face {
  font-family: WenQuanYi Micro Hei;
  src: url("/usr/share/fonts/opentype/noto/NotoSansCJK.ttc");
}
@font-face {
  font-family: Ubuntu Mono;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/UbuntuMono-B.ttf");
}
@font-face {
  font-family: Ubuntu Mono;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/UbuntuMono-BI.ttf");
}
@font-face {
  font-family: Ubuntu Mono;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/UbuntuMono-R.ttf");
}
@font-face {
  font-family: Ubuntu Mono;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/UbuntuMono-RI.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-R.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-RI.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-B.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-BI.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-L.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-LI.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-M.ttf");
}
@font-face {
  font-family: Ubuntu;
  src: url("/usr/share/fonts/truetype/ubuntu-font-family/Ubuntu-MI.ttf");
}
@font-face {
  font-family: Liberation Mono;
  src: url("/usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf");
}
@font-face {
  font-family: Liberation Mono;
  src: url("/usr/share/fonts/truetype/liberation/LiberationMono-Italic.ttf");
}
@font-face {
  font-family: Liberation Mono;
  src: url("/usr/share/fonts/truetype/liberation/LiberationMono-BoldItalic.ttf");
}
@font-face {
  font-family: Liberation Mono;
  src: url("/usr/share/fonts/truetype/liberation/LiberationMono-Bold.ttf");
}
