@mixin text-default-style() {
  color: $font-color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

@mixin text {
  & {
    @content;
  }

  #{$text-elements}, .text {
    @content;
  }
}
