@import "../../../src/scss/functions";
@import "../../../src/scss/variables";

$sidebar-width: 256px;

root {
  min-width: 1080px;
  min-height: 720px;
}
.demo-navbar {
  width: 100%;
  background-color: $green;
  
  .navbar-brand {
    width: 37.75px;
    text-align: center;
    border: 1px solid #fff;
  }
  .navbar-nav .icon {
    font-size: 16px;
  }
  .navbar-nav.float-right {
    padding-top: $navbar-padding-y;
    padding-right: $navbar-padding-x;
  }
  .btn-outline-yellow:active, .btn-outline-yellow:hover {
    color: #2a2730;
  }
}
.demo-body {
  height: 100%;
  padding-top: 52px;
}
.docs-body {
  height: 100%;
}
.home-masthead {
  padding: rem2px(5) rem2px(1);

  h1 {
    color: $green;
  }
}
.demo-sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: #fff;
  border-right: 1px solid $border-color;

  .demo-links {
    padding-top: rem2px(1);
    padding-bottom: rem2px(1);
  }
  .subnav .nav-item {
    padding-left: rem2px(1);

    .nav-link {
      color: rgba(0,0,0,.65);

      &:hover {
        color: rgba(0,0,0,.85);
      }
    }

    &.active {
      background-color: rgba($green, .1);
    }
  }
}
.demo-content-wrapper {
  height: 100%;
  padding: rem2px(1) rem2px(2) rem2px(1) $sidebar-width + rem2px(2);

  h2 {
    margin-top: rem2px(2);
  }
  h2:first-child, .demo-box h2 {
    margin-top: 0;
  }
}
.code-block {
  padding: rem2px(1.5);
  background-color: #f7f7f9;
  margin-bottom: rem2px(1.5);
}
.demo-box {
  border: rem2px(.2) solid #f7f7f9;
  margin-bottom: rem2px(1.5);

  .demo-preview-box {
    padding: rem2px(1.5);
  }
  .code-block {
    margin-bottom: 0;
  }
  &.buttons-demo .demo-preview-box {
    padding: rem2px(1) rem2px(1.25);

    .btn {
      margin: rem2px(.25) rem2px(.5);
    }
  }
  &.icons-demo .demo-preview-box {
    padding-left: rem2px(1.25) - 12px;
    padding-bottom: rem2px(1) - 12px;

    .icon {
      padding: 12px;
      font-size: 24px;
      line-height: 24px;
      border: 1px solid #eee;
      margin: 0 0 12px 12px;

      &:hover {
        color: #fff;
        background-color: #6F6F6F;
      }
      &:active {
        color: #fff;
        background-color: $green;
      }
    }
  }
}

scrollbar {
  width: 10px;
  background-color: rgba(#ddd, .2);
  border: 1px solid rgba(#ddd, .5);

  .slider {
    background-color: #bbb;

    &:hover {
      background-color: #aaa;
    }
    &:active {
      background-color: #999;
    }
  }
}
