.close {
  opacity: .5;
  @include text {
    line-height: 1;
    color: $close-color;
    font-size: $close-font-size;
    font-weight: $close-font-weight;
  }
  @include float-right;
  @include hover-focus {
    @include text {
      color: $close-color;
      opacity: .75;
    }
  }
}

button.close {
  padding: 0;
  border: 0;
  background-color: transparent;
}
