@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeui.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeuib.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeuii.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeuil.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeuisl.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/segoeuiz.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/seguibl.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("C:/windows/fonts/seguili.ttf");
}

@font-face {
  font-family: Consolas;
  src: url("C:/windows/fonts/consola.ttf");
}
@font-face {
  font-family: Consolas;
  src: url("C:/windows/fonts/consolab.ttf");
}
@font-face {
  font-family: Consolas;
  src: url("C:/windows/fonts/consolai.ttf");
}
@font-face {
  font-family: Consolas;
  src: url("C:/windows/fonts/consolaz.ttf");
}

@font-face {
  font-family: Arial;
  src: url("C:/windows/fonts/arial.ttf");
}
@font-face {
  font-family: Arial;
  src: url("C:/windows/fonts/arialbd.ttf");
}
@font-face {
  font-family: Arial;
  src: url("C:/windows/fonts/ariblk.ttf");
}
@font-face {
  font-family: Arial;
  src: url("C:/windows/fonts/arialbi.ttf");
}
@font-face {
  font-family: Arial;
  src: url("C:/windows/fonts/ariali.ttf");
}

@font-face {
  font-family: Malgun Gothic;
  src: url("C:/windows/fonts/malgun.ttf");
}
@font-face {
  font-family: Malgun Gothic;
  src: url("C:/windows/fonts/malgunbd.ttf");
}
@font-face {
  font-family: Malgun Gothic;
  src: url("C:/windows/fonts/malgunsl.ttf");
}

@font-face {
  font-family: Microsoft Yahei;
  src: url("C:/windows/fonts/msyh.ttc");
}
@font-face {
  font-family: Microsoft Yahei;
  src: url("C:/windows/fonts/msyhbd.ttc");
}
@font-face {
  font-family: Microsoft Yahei;
  src: url("C:/windows/fonts/msyhl.ttc");
}
