//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

//
// Horizontal rules
//

hr {
  margin-top: rem2px(1);
  margin-bottom: rem2px(1);
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

//
// Code
//

code-block, pre {
  font-family: $font-family-monospace;
}


//
// Misc
//

blockquote, .blockquote {
  margin-bottom: rem2px(1); 
  padding: rem2px(.4) rem2px(.8);
  border-left: $blockquote-border-width solid $blockquote-border-color;
}

i, cite {
  font-style: italic;
}

strong, b {
  font-weight: $font-weight-bold;
}
